<?xml version='1.0' encoding='utf-8'?>
<widget id="com.meetinglawyers.testapp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>TestApp</name>
    <description>Sample Apache Cordova App</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
        <platform name="android">
        <resource-file src="google-services.json" target="app/google-services.json" />
        <resource-file src="www/img/navigation.png" target="app/src/main/res/drawable/logo_ml.png" />
    </platform>
    <platform name="ios">
        <resource-file src="GoogleService-Info.plist" />
    </platform>
</widget>
